@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Management System</h1>
    <p class="lead">
        This platform allows students to get their relevant data and updates anytime from any location and
        also teachers get their relevant data and can notify students about updates about their respective subject
        and overall progress of the students.
    </p>
    <p>
        @Html.ActionLink("Get Started", "Index", "Login")
    </p>
</div>

